@use 'variables' as v;
@use 'mixins';
@use 'header';
@use 'hero';
@use 'collection';
@use 'tech';   
@use 'footer';  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

.icon {
    border-radius: 50%;
}

body {
    background-color: v.$bg;
    color: v.$text;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

.container {
    max-width: v.$container;
    margin: 0 auto;
    padding: 0 20px;
}